/* Chat container - main chat window */
.chatContainer {
    width: 100%;
    height: 70vh;
    margin: 50px auto 10px auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #ffffff;
    overflow-y: scroll;
    scrollbar-width: none;
    position: relative;
  }
  
  /* Chat box - where messages are displayed */
  .chatBox {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    scroll-behavior: smooth;
  }
  
  /* Scrollbar styling */
  .chatBox::-webkit-scrollbar {
    width: 8px;
  }
  
  .chatBox::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 5px;
  }
  
  /* User message bubble */
  .userMessage {
    align-self: flex-end;
    background-color: #f3f3f3;
    color: black;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 15px 15px 0 15px;
    max-width: 60%;
    font-size: 16px;
  }
  
  /* AI message bubble */
  .aiMessage {
    align-self: flex-start;
    background-color: #f1f1f1;
    color: #333;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 15px 15px 15px 0;
    max-width: 60%;
    font-size: 16px;
    border: 1px solid #dddddd;
  }
  
  /* Input container - for the text input and send button */
  .inputContainer {
    margin: 0 auto;
    width: 60%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
  }
  
  /* Input box styling */
  .input {
    height: auto;
    flex-grow: 1;
    padding: 30px 20px;
    border: none;
    border-radius: 25px;
    background-color: #f1f1f1;
    margin-right: 10px;
    font-size: 16px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    scrollbar-width: none;
  }
  
  /* Send button styling */
  .sendButton {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  